h1{
	color: violet;
	background-color: blue;
	font-size: 60px;
	text-align: center;
}

img{
	width: 1600px;
	height: 500px;
}

.right{
	position: absolute;
  right: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

h2{
	color: slateblue;
	background-color: purple;
	font-size: 60px;
	text-align:  center;
}
h3{
	color:black;
	font-size: 40px;
}